*.iml

.buildpath

.project

.settings/org.eclipse.php.core.prefs

.settings/org.eclipse.php.debug.core.Debug_Process_Preferences.prefs
/test.php
/entities.xml
/ldstates.xml
/pdstates.xml

test2.php
.idea/*
example.php.config
